* {
    box-sizing: border-box;
    margin: 0 auto;
}

.container {
    width: 450px;
    height: 250px;
    border: 1px solid;
    margin-top: 50px;
}

form {
    padding: 10px;
}

form input {
    margin-bottom: 10px;
}

#txtus {
    margin-left: 30px;
}

#txtmk {
    margin-left: 75px;
}

#gt {
    margin-left: 85px;
}

#menu {
    margin-left: 140px;
}

form input[type=button] {
    margin-left: 140px;
    margin-top: 10px;
    background-color: rgb(86, 144, 252);
    color: white;
    width: 80px;
    height: 25px;
    border: 0;
    border-radius: 5px;
}